#sidebar {
    width: 190px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #333;
    color: #fff;
    transition: all 0.3s;
}

.cards {
    position: fixed;
    left: 210px;
    top: 100px;
}

.body {
    position: fixed;
    left: 210px;
}

.present {
    position: fixed;
    top:0;
    left: 500px;
}